@charset "utf-8";
/* CSS Document */

.logo img {
	display: inline-block !important;
}
.top_head .navbar-toggle {
	float: right;
	margin: 12px 0 0;
	cursor: pointer;
	background: #f5480f none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
	padding: 5px;
	font-size: 24px;
}
.top_head .nav_menu {
	padding-left: 0px;
	padding-right: 0px;
}
.top_head .navbar-toggle i {
	display: block;
}
#toTop {
	z-index: 50;
}

@media screen and (max-width: 1024px) {
.foot_col_4 .in_cont {
	display: block !important;
	margin-bottom: 10px !important;
}
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
.container {
	width: 98% !important;
}
.foot_col_1 {
	width: 14% !important;
}
.foot_nav {
	margin-left: 7% !important;
}
.footer_1 .container .foot_nav:first-child {
	margin-left: 0 !important;
}
.new_panel {
	margin-left: 20% !important;
}
.footer_1 h2 {
	font-size: 18px !important;
}
}

@media screen and (max-width: 979px) {
.latest_news article {
	margin-top: 20px !important;
}
.new_panel {
	clear: both !important;
	display: block !important;
	margin-left: 0 !important;
}
.new_panel span {
	margin-top: 0 !important
}
.careers_list .cus_accor_1 {
	margin: 40px 15px !important;
}
/*banner slogan */
.banner_row article {
	margin-top: 0 !important;
	top: 32% !important;
	font-size: 20px !important;
}
.banner_row article p {
	display: block !important;
	text-align: center !important;
}
.banner_row article span {
	width: auto !important;
	text-align: center !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
.wrapper {
	padding-top: 162px !important;
}
.top_head [class^="col-"] {
	width: auto !important;
	float: none !important;
}
.foot_nav {
	margin-left: 0 !important;
	width: 49% !important;
	margin-bottom: 20px !important;
}
.top_head .logo {
	padding-top: 15px;
}
.top_head .logo, .top_head .top_menu, .top_menu ul {
	width: auto !important;
	display: block !important;
	float: none !important;
	text-align: center !important;
}
.top_menu ul li {
	display: inline-block !important;
	vertical-align: middle !important;
	float: none !important
}
.top_menu ul li:first-child {
	padding-left: 0 !important
}
.aside_right ul li a {
	font-size: 13px !important;
}
.cont_list li i {
	display: block !important;
	padding-left: 0 !important
}
}

@media screen and (max-width: 767px) {
.foot_nav {
	margin-left: 0 !important;
	width: auto !important;
	display: block !important;
	margin-bottom: 20px !important;
}
.foot_col_4 .in_cont {
	display: block !important;
	margin-bottom: 10px !important;
}
.banner_row h1 {
	line-height: normal !important;
	font-size: 15px !important;
	top: 64% !important;
	font-size: 16px !important
}
.banner_row h1 span {
	display: inline !important;
}
.home_service article {
	margin-top: 30px !important;
}
.top_menu li, .top_menu ul {
	display: block !important;
	float: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.top_menu ul {
	border-top: 2px solid #F5480F !important;
}
.top_menu li a {
	border-bottom: 1px solid #D7D7D7 !important;
}
.top_menu li a:hover {
	border-bottom: 1px solid #F5480F !important;
	background: #F5480F !important;
	color: #ffffff !important;
}
.client_page figure {
	margin-bottom: 30px !important;
}
.inn_info h1 {
	margin-bottom: 5px !important;
	text-align: center !important
}
.bread_crumbs ul {
	display: block !important;
	float: none !important;
	text-align: center !important;
}
.cont_list {
	margin-bottom: 25px;
}
.about_info {
	margin-bottom: 30px !important;
}
.text_just {
	text-align: left !important;
}
.ad_pa {
	padding-top: 50px !important;
}
.aside_right {
	margin-bottom: 30px;
}
.banner_row article {
	font-size: 15px !important;
	top: 19% !important;
}
.wrapper {
	padding-top: 67px !important;
}
.col-sm-2.logo > a {
	display: inline-block !important;
	padding-top: 7px !important;
}
.top_head {
	position: relative !important;
}
.top_head > .container {
	background: #fff none repeat scroll 0 0 !important;
	left: 0 !important;
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	z-index: 1 !important;
}
.submenu li {
	display: block !important;
}
.inn_info h1 {
	font-size: 20px !important;
}
.aside_right {
	margin-top: 30px !important;
}
}

@media screen and (max-width: 400px) {
.banner_row h1 {
	display: none !important;
}
}
/*.navbar-toggle {
	margin: 1em;
	width: 40px;
}
.navbar-toggle:after, .navbar-toggle:before, .navbar-toggle i {
	background-color: #fff;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	height: 5px;
	margin: 7px 0;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.navbar-toggle:hover:before {
	transform: translateY(12px) rotate(135deg);
	-moz-transform: translateY(12px) rotate(135deg);
	-webkit-transform: translateY(12px) rotate(135deg);
}
.navbar-toggle:hover:after {
	transform: translateY(-12px) rotate(-135deg);
	-moz-transform: translateY(-12px) rotate(-135deg);
	-webkit-transform: translateY(-12px) rotate(-135deg);
}
.navbar-toggle:hover div {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}*/
